* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 350px;
  display: block;
  margin: 200px auto 0 auto;
}

form input {
  display: block;
  margin: 30px auto 0 auto;
  padding: 20px;
  width: 700px;
  border-radius: 30px;
  border: 1px solid #bababa;
  outline: none;
  transition: all 0.3s;
}

form input:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  margin: 5px;
  padding: 12px 18px;
  font-size: 20px;
  border: none;
  color: #3c4043;
  background-color: #f8f9fa;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

button:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.637);
}
